@media screen and (max-width: 1100px) {
  .photos {
    max-width: 928px;
  }

  .photos__containter {
    grid-template-columns: repeat(3, minmax(150px, 300px));
    grid-template-rows: repeat(4, 225px);
    gap: 14px;
  }
}

@media screen and (max-width: 800px) {
  .photos {
    max-width: 720px;
  }

  .photos__containter {
    margin-bottom: 104px;
    grid-template-columns: repeat(2, minmax(150px, 352px));
    grid-template-rows: repeat(6, 264px);
    gap: 16px;
  }
}

@media screen and (max-width: 700px) {
  .photos {
    max-width: 288px;
  }

  .photos__containter {
    grid-template-columns: repeat(1, minmax(150px, 288px));
    grid-template-rows: repeat(12, 216px);
    gap: 12px;
    margin-bottom: 64px;
  }
}
