.page {
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px 48px 24px;
  margin: 0 auto;
  background-color: #2a2c2f;
  min-width: 320px;
  max-width: 1280px;
  color: white;
}

@media screen and (max-width: 800px) {
  .page {
    padding: 28px 0 24px;
  }
}

@media screen and (max-width: 700px) {
  .page {
    padding: 16px 0 24px;
  }
}

.page__intro {
  margin: 90px 0 76px 190px;
}

@media screen and (max-width: 1100px) {
  .page__intro {
    margin: 92px 0 76px;
  }
}

@media screen and (max-width: 800px) {
  .page__intro {
    margin: 88px 24px 71px;
  }
}

@media screen and (max-width: 700px) {
  .page__intro {
    margin: 64px 16px 48px;
  }
}

.page__footer {
  margin-top: 78px;
}

@media screen and (max-width: 800px) {
  .page__footer {
    margin-top: 70px;
  }
}

@media screen and (max-width: 700px) {
  .page__footer {
    margin-top: 45px;
    margin-left: 16px;
  }
}
