.cover {
  max-width: 1184px;
  width: 100%;
  height: 740px;
}

.cover__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 740px;
  background-image: url('../../images/background.png');
  background-size: cover;
  color: white;
  text-decoration: none;
  position: relative;
  z-index: 0;
}

.cover__item::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #2a2c2f;
  opacity: 0.3;
  z-index: -1;
  transition: opacity 0.3s;
}

.cover__item:hover::before {
  opacity: 0.8;
}

.cover__title {
  line-height: 76px;
  font-size: 72px;
  font-weight: 900;
  width: 510px;
  text-align: center;
  margin: 0 0 32px;
}

.cover__subtitle {
  line-height: 22px;
  font-size: 18px;
  font-weight: 400;
  width: 360px;
  text-align: center;
  margin: 0;
}
